tarefa*/testes/*.out
tarefa*/*.o
tarefa*/*.obj
tarefa*/*.exe

tarefa00/bomdia
tarefa00/boanoite

tarefa01/rearranjar

tarefa02/imposto

tarefa03/classificar

tarefa04/planejar

tarefa05/ribossomo

tarefa06/minecraft

tarefa07/arranhaceu

tarefa08/boate

tarefa09/equipes

tarefa10/docas

tarefa11/piramide

tarefa12/busca

tarefa13/dns

tarefa14/roteador

tarefa15/nuvem

tarefa16/rpg

tarefa17/def_capitais
